<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Talk To Me</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/cover.css" rel="stylesheet">
    <!--<script src="http://api.apertium.org/JSLibrary.js"></script>-->
    <script src="//www.webrtc-experiment.com/Translator.js"> </script>
</style>
</head>
<div class="site-wrapper">

      <div class="site-wrapper-inner">

     <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                
              </ul>
          </div>
            </div>

         <div class="inner cover">
            <div class="col-lg-10">
              
             <!-- /.col-lg-6 -->

<%= form_for(@query) do |f| %>
  <% if @query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@query.errors.count, "error") %> prohibited this query from being saved:</h2>

      <ul>
      <% @query.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
    <%= f.text_field :val, class: "input-lg", :id => 'inp', :style => "color: gray" %>
  </div>
  <div class="actions">
    <%= f.submit 'Parse', class: "btn btn-success btn-lg" %>
  </div>
<% end %>
<button class="btn btn-primary" onclick="speak();">Try Speaking</button>
<div class="mastfoot">
            <div class="inner">
              <p>Created by Aayush Kothari, Prashant Baid @ MIT, Manipal</p>
            </div>
          </div>

</div>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
   
    
<script>

function speak(){
  
  var translator = new Translator();
  translator.voiceToText(function(text){
     document.getElementById('inp').value +=text;

  }, 'en-IN');
  //var txt=document.getElementById('inp').value;
  //apertium.translate(txt,"en","es",function(result){
  //    alert(result.translation);
  //});
}
</script>
