<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/cover.css" rel="stylesheet">
    <!--<script src="http://api.apertium.org/JSLibrary.js"></script>-->
    <script src="//www.webrtc-experiment.com/Translator.js"> </script>
</style>
</head>
<div class="site-wrapper">
      
      
      <div class="site-wrapper-inner">
        <div style="width: 80%; padding: 60px;">

        <span style="font-size: 44px; color: white;">Welcome to SITA </span><span style="font-size: 38px; color: white;"> - your personal, intelligent assistant for the web!</span>
        </div>

              <div class="cover-wrapper">
            <div class="container">

    

<%= form_for(@query) do |f| %>
  <% if @query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@query.errors.count, "error") %> prohibited this query from being saved:</h2>

      <ul>
      <% @query.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-lg-10">
    <div class="input-group input-group-lg" style="width: 70%; position: relative;">
    <%= f.text_field :val, class: "form-control", :id => 'inp', :style => "color: gray;" %>
    <span class="input-group-btn">
    <%= f.submit 'Go!', class: "btn btn-success" %></span>
  </div>
<% end %>
</div>
<br /><hr><br />
<div class="col-lg-6" style="position: relative;">
  <span style="color: black">(Got Chrome?)</span>
<button class="btn btn-primary" onclick="speak();">Try Speaking</button></p>
</div>
</div>
</div>
</div>
<div class="mastfoot">
            <div class="inner">
              <p>Created by Aayush Kothari, Prashant Baid @ MIT, Manipal</p>
            </div>
          </div>

</div>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
   
    
<script>

function speak(){
  
  var translator = new Translator();
  translator.voiceToText(function(text){
     document.getElementById('inp').value +=text;

  }, 'en-IN');
  //var txt=document.getElementById('inp').value;
  //apertium.translate(txt,"en","es",function(result){
  //    alert(result.translation);
  //});
}
</script>
